<%= form_for(@sip_account_codec) do |f| %>
  <% if @sip_account_codec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sip_account_codec.errors.count, "error") %> prohibited this sip_account_codec from being saved:</h2>

      <ul>
      <% @sip_account_codec.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :sip_account_id, 'SIP account' %><br />
    <%= f.select( :sip_account_id,
      @sip_accounts.collect {|r| [ "#{r.name} (#{r.user}@#{r.registrar})", r.id ] },
      { :include_blank => false, :selected => @sip_account_codec.sip_account_id }
    ) %>
  </div>
  <div class="field">
    <%= f.label :codec_id %><br />
    <%= f.select( :codec_id,
      @codecs.collect {|r| [ r.name, r.id ] },
      { :include_blank => false, :selected => @sip_account_codec.codec_id }
    ) %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
