<p id="notice"><%= notice %></p>

<p>
  <b>SIP account:</b>
  <%= @sip_account_codec.sip_account.name %>
  (<%= @sip_account_codec.sip_account.user %>@<%= @sip_account_codec.sip_account.registrar %>)
</p>

<p>
  <b>Codec:</b>
  <%= @sip_account_codec.codec.name %>
</p>

<p>
  <b>Position:</b>
  <%= @sip_account_codec.position %>
</p>


<%= link_to 'Edit', edit_sip_account_codec_path(@sip_account_codec) %> |
<%= link_to 'Back', sip_account_codecs_path %>
