<h1>Listing vcards</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Position</th>
    <th>Vcardable type</th>
    <th>Vcardable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vcards.each do |vcard| %>
  <tr>
    <td><%= vcard.name %></td>
    <td><%= vcard.content %></td>
    <td><%= vcard.position %></td>
    <td><%= vcard.vcardable_type %></td>
    <td><%= vcard.vcardable_id %></td>
    <td><%= link_to 'Show', vcard %></td>
    <td><%= link_to 'Edit', edit_vcard_path(vcard) %></td>
    <td><%= link_to 'Destroy', vcard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vcard', new_vcard_path %>
