<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vcard.name %>
</p>

<p>
  <b>Content:</b>
  <%= @vcard.content %>
</p>

<p>
  <b>Position:</b>
  <%= @vcard.position %>
</p>

<p>
  <b>Vcardable type:</b>
  <%= @vcard.vcardable_type %>
</p>

<p>
  <b>Vcardable:</b>
  <%= @vcard.vcardable_id %>
</p>


<%= link_to 'Edit', edit_vcard_path(@vcard) %> |
<%= link_to 'Back', vcards_path %>
