<h1>Listing codecs</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @codecs.each do |codec| %>
  <tr>
    <td><%= codec.name %></td>
    <td><%= link_to 'Show', codec %></td>
    <td><%= link_to 'Edit', edit_codec_path(codec) %></td>
    <td><%= button_to 'Destroy', codec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Codec', new_codec_path %>
