<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @description.name %>
</p>

<p>
  <b>Descriptionable type:</b>
  <%= @description.descriptionable_type %>
</p>

<p>
  <b>Descriptionable:</b>
  <%= @description.descriptionable_id %>
</p>


<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
