<h1>Listing phone_models</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Max number of sip accounts</th>
    <th>Number of keys</th>
    <th>Max number of phone book entries</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_models.each do |phone_model| %>
  <tr>
    <td><%= phone_model.name %></td>
    <td><%= phone_model.manufacturer_id %></td>
    <td><%= phone_model.max_number_of_sip_accounts %></td>
    <td><%= phone_model.number_of_keys %></td>
    <td><%= phone_model.max_number_of_phone_book_entries %></td>
    <td><%= link_to 'Show', phone_model %></td>
    <td><%= link_to 'Edit', edit_phone_model_path(phone_model) %></td>
    <td><%= link_to 'Destroy', phone_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone model', new_phone_model_path %>
