<%= form_for(@phone_model_key) do |f| %>
  <% if @phone_model_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone_model_key.errors.count, "error") %> prohibited this phone_model_key from being saved:</h2>

      <ul>
      <% @phone_model_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_model_id %><br />
    <%= f.select( :phone_model_id,
      @phone_models.collect {|r| [ r.name, r.id ] },
      { :include_blank => false, :selected => @phone_model_key.phone_model_id }
    ) %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
