<%= form_for(@phone_key) do |f| %>
  <% if @phone_key.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone_key.errors.count, "error") %> prohibited this phone_key from being saved:</h2>

      <ul>
      <% @phone_key.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone_id %><br />
    <%= f.text_field :phone_id %>
  </div>
  <div class="field">
    <%= f.label :phone_model_key_id %><br />
    <%= f.text_field :phone_model_key_id %>
  </div>
  <div class="field">
    <%= f.label :phone_key_function_definition_id %><br />
    <%= f.text_field :phone_key_function_definition_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
