<h1>Listing phone model mac addresses</h1>

<table>
  <tr>
    <th>Phone model</th>
    <th>MAC addr. starts with</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phone_model_mac_addresses.each do |phone_model_mac_address| %>
  <tr>
    <td><%= phone_model_mac_address.phone_model.name %></td>
    <td><%= phone_model_mac_address.starts_with.gsub(/[0-9A-Z]{2}/i, '\\0:') %></td>
    <td><%= link_to 'Show', phone_model_mac_address %></td>
    <td><%= link_to 'Edit', edit_phone_model_mac_address_path(phone_model_mac_address) %></td>
    <td><%= button_to 'Destroy', phone_model_mac_address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone model mac address', new_phone_model_mac_address_path %>
