<p id="notice"><%= notice %></p>

<p>
  <b>Phone model:</b>
  <%= @phone_model_mac_address.phone_model.name %>
</p>

<p>
  <b>MAC address starts with:</b>
  <%= @phone_model_mac_address.starts_with.gsub(/[0-9A-Z]{2}/i, '\\0:') %>
</p>


<%= link_to 'Edit', edit_phone_model_mac_address_path(@phone_model_mac_address) %> |
<%= link_to 'Back', phone_model_mac_addresses_path %>
