<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>

<h2>Phone models by this manufacturer</h2>

<p>
<%= link_to 'Create a new phone model', new_manufacturer_phone_model_path(@manufacturer) %>	
</p>

<% @manufacturer.phone_models.each do |phone_model| %>

<%= render :partial => 'phone_models/show_single_phone', :locals => {:phone_model => phone_model} %>

<hr />

<% end %>
